
# Server configs
PORT=3000

# AI openrouter configs
AI_PROVIDER=openrouter
OPENROUTER_API_KEY_CLASSIFIER=
OPENROUTER_API_KEY_REPLY_GENERATOR=
OPENROUTER_CLASSIFY_MODEL=openai/gpt-4o-mini
OPENROUTER_REPLY_MODEL=openai/gpt-4.1
OPENROUTER_HTTP_REFERER=http://localhost:3000
OPENROUTER_APP_TITLE=Aifferte
AI_TIMEOUT_MS=15000

# supabase configs
SUPABASE_SECRET_KEY=
SUPABASE_URL=
